<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514387400371-vfbi8m5m23firtf9mlit33rl6qgrtkas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514387400371-vfbi8m5m23firtf9mlit33rl6qgrtkas</string>
	<key>API_KEY</key>
	<string>AIzaSyADKPaPRbDZ1qOch6bCuWUzBuQNeV8f-zY</string>
	<key>GCM_SENDER_ID</key>
	<string>514387400371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>food-deliver-c941c</string>
	<key>STORAGE_BUCKET</key>
	<string>food-deliver-c941c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514387400371:ios:8cf418e45b3e3f1c3cc2c6</string>
</dict>
</plist>